<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="connectionString"
         connectionString="Data Source=10.0.1.12;Initial Catalog=UsedCarsFinance;Integrated Security=False;Persist Security Info=True;User ID=usedcarsfinance_app;Password=WYkYJ%@K;"
         xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    <add name="connRBVehicle"
         connectionString="Data Source=10.0.1.12;Initial Catalog=RBVehicle;Integrated Security=False;Persist Security Info=True;User ID=rbvehicle_app;Password=42G1zk*3"
         xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    <add name="connCommonDB"
         connectionString="Data Source=10.0.1.52;Initial Catalog=CommonDB;Integrated Security=False;Persist Security Info=True;User ID=commondb_app;Password=hGxb25sn"
         xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    <add name="connIautos"
         connectionString="Data Source=10.0.1.52;Initial Catalog=CarDB;Integrated Security=False;Persist Security Info=True;User ID=cardb_app;Password=99DxKz44"
         xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    <add name="connHomeCar"
         connectionString="Data Source=10.0.1.52;Initial Catalog=ywcommondb;Integrated Security=False;Persist Security Info=True;User ID=ywcommondb_app;Password=TxJ@_7Tg"
         xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    <add name="connBankCredit"
         connectionString="Data Source=10.0.1.12;Initial Catalog=BankCreditPlatform;Integrated Security=False;Persist Security Info=True;User ID=BankCreditPlatform_app;Password=D85H+n_8"
         xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
  </connectionStrings>
  
  <appSettings>
    <add key="PrintUrl" value="http://10.0.1.12:8090/api/PDF/Transform?" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="D:\\Logs\\UsedCarsFinance\\Production."
          xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    </appender>

    <appender name="YWAppender" type="Web.Infrastructure.YWAppender">
      <param name="Enabled" value="true"
          xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    </appender>
  </log4net>
</configuration>